OAUTH_CONSUMER_KEY = ''
OAUTH_CONSUMER_SECRET = ''
OAUTH_ACCESS_TOKEN = ''
OAUTH_ACCESS_SECRET = ''

BITLY_USERNAME = ''
BITLY_APIKEY = ''

GRACKLE_OAUTH = {
  :type => :oauth,
  :consumer_key => OAUTH_CONSUMER_KEY,
  :consumer_secret => OAUTH_CONSUMER_SECRET,
  :token => OAUTH_ACCESS_TOKEN,
  :token_secret => OAUTH_ACCESS_SECRET
}

MYSQL_HOST = ''
MYSQL_USER = ''
MYSQL_PASS = ''
MYSQL_DB = ''

